<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/main/login.js" defer></script>        
        <title>Sign up 로그인 페이지 </title>
    </head>
    <body>
        <h1>로그인 페이지</h1>
        ID <input id="id" type = "text" name = "id" placeholder = "아이디를 입력하세요"><br/>
        PASSWORD <input id="pwd" type = "password" name = "password" placeholder = "비밀번호를 입력하세요"><br/>
        <p>
            <button>LOGIN</button>
        </p>
    </body>
    </html>